@using SiteSystem.ViewModels

@model TopicViewModels

<h2>Create Topic</h2>
@using (Html.BeginForm("Create", "Topic", FormMethod.Post))
{
    <div>
        @Html.LabelFor(model => model.TopicName)
        @Html.TextBoxFor(model => model.TopicName, new { @class = "form-control" })
    </div>

    <input type="submit" value="Create" />
}
