@using SiteSystem.Models
@using SiteSystem.Common.Paging

@model PaginatedList<SiteForum>

@if (User.IsInRole("Administrator"))
{
    <div>
        @Html.ActionLink("New Forum", "Create", "Forum", new { Area = "Administration" }, new { @class = "btn btn-primary btn-large" })
    </div>
}

<div id="forum-list-container">
    @Html.Partial("_Index", Model)
</div>
