@using SiteSystem.Wrappers;

@model ForumInfoWrapper

<h2>@Model.ForumName</h2>

@if (User.Identity.IsAuthenticated)
{
    <div>
        @Html.ActionLink("New topic", "Create", "Topic", new { id = Model.ForumId }, new { @class = "btn btn-primary btn-large" })
    </div>
}

<div id="topic-list-container">
    @Html.Partial("_Info", Model)
</div>



