@using SiteSystem.Models
@using SiteSystem.Common.Paging

@model PaginatedList<Comment>

<nav class="navbar navbar-inverse bg-faded">
    <form class="form-inline float-xs-left">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("My Topics", "Topics", "Dashboard")</li>
                <li>@Html.ActionLink("My Comments", "Comments", "Dashboard")</li>
            </ul>
        </div>
    </form>
</nav>

<div id="dashboard-container">
    @Html.Partial("_Comments", Model)
</div>

@*<div class="panel panel-default">
    <div id="Tabs" role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="active">
                <a href="#mytopics" aria-controls="mytopics" role="tab" data-toggle="tab">
                    My Topics
                </a>
            </li>
            <li>
                <a href="#mycomments" aria-controls="mycomments" role="tab" data-toggle="tab">
                    My Comments
                </a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content" style="padding-top: 20px">
            @Html.Partial("_Index", Model)
        </div>
    </div>
</div>*@