@using SiteSystem.Wrappers

@model DashboardInfoWrapper

<div class="panel panel-default">
    <div id="Tabs" role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="active">
                <a href="#mytopics" aria-controls="mytopics" role="tab" data-toggle="tab">
                    My Topics
                </a>
            </li>
            <li><a href="#mycomments" aria-controls="mycomments" role="tab" data-toggle="tab">My Comments</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content" style="padding-top: 20px">
            <div role="tabpanel" class="tab-pane active" id="mytopics">
                @Html.Partial("_DashboardTopics", Model.Topics)
            </div>
            <div role="tabpanel" class="tab-pane" id="mycomments">
                @Html.Partial("_DashboardComments", Model.Comments)
            </div>
        </div>
    </div>
</div>